<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".jar" allowed="false" />
                    <add fileExtension=".dll" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".md" allowed="false" />
                    <add fileExtension=".config" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    <location path="index.htm">
        <system.webServer>
            <defaultDocument>
                <files>
                    <remove value="Default.htm" />
                    <remove value="Default.asp" />
                    <remove value="index.html" />
                    <remove value="iisstart.htm" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
